* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    color: white;
    font-size: 9vw;
    text-transform: capitalize;
    text-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 700px) {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    }
}


.news_page {
    height: 100vh;
    background: #D3E3FC;
    scroll-snap-align: start;
}

.form_page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F76C6C;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}


.news {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    height: 100vh;
}

.news_slider {
    height: 100%;
    width: 100vw;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    scroll-snap-align: start;
}


img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}


.logo {
    max-width: 700px;
    width: 80vw;
    display: block;
    object-fit: cover;
}


.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}



.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tag+.tag {
    margin-left: .5em;
}

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #56CCF2, #2F80ED);
    color: #fafafa;
}

.tag-green {
    background: rgb(143, 235, 6);
    background: linear-gradient(to bottom, rgb(143, 235, 6), rgb(31, 214, 31));
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h2 {
    color: #000;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__body p {
    color: #000;
}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user__info h3 {
    color: #000;
}

.user__info>small {
    color: #666;
}


.foot {
    max-width: 300px;
    width: 70vw;
    display: block;
    object-fit: cover;
}

.text {
    max-width: 900px;
    width: 100vw;
    display: block;
    object-fit: cover;
}

.email_sender {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 350px;
    border-radius: 1em;
    line-height: 22px;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    margin: 50px auto;
}

.form_control {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 1em;
    line-height: 22px;
    background-color: transparent;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border: 4px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    transition: 0.3s;
    resize: none;
}

.form_control:focus {
    transition: 0.3s;
    border: 4px solid #CC4949;
}

.terms_group {
    color: gray;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 1em;
    line-height: 22px;
    background-color: transparent;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border: 4px solid #CC6666;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

[type="checkbox"] {
    opacity: 0;
}

[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: Gray;
    line-height: 25px;
}

[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    outline: 2px solid #aaa;
    background: #fff;
}

[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    outline: 3px solid #5FD25F;
    background: #fff;
}

[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    background-image: url(https://i.im.ge/2022/06/14/rvWHgc.png);
    background-size: contain;
    transform: scale(1);
    opacity: 1;
    transition: all 0.3s ease;
}

[type="checkbox"]:not(:checked) + label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    background-image: url(https://i.im.ge/2022/06/14/rvWHgc.png);
    background-size: contain;
    transform: scale(0);
    opacity: 0;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #CC6666;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #CC4949;
}