@media (max-width: 999px) {
  .about-me-section {
    flex-direction: column;
  }
}

.about-me-section {
  background-color: var(--dark-blue);
  color: var(--beige);
  min-height: calc(100vh - 81px);

  display: flex;
}


.about-me-left-section {
  padding-right: 36px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  flex: 1;
}

.about-me-title-container {
  margin-bottom: 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.about-me-title {
  margin: 0;

  font-size: 40px;
  font-weight: 900;
}

.about-me-title span {
  color: var(--orange);
}

.about-me-introduction {
  margin: -3px 0 0 0;

  font-size: 16px;
  font-weight: 500;
}

.about-me-description {
  margin-top: 18px;
  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.about-me-description-header {
  margin: 0;
  color: var(--beige);

  font-size: 32px;
  font-weight: 700;
}

.about-me-description-header span {
  color: var(--orange);
}

.about-me-description-content {
  margin: 0;
  text-align: right;
  max-width: 380px;

  font-size: 14px;
  font-weight: 500;
}

.about-me-description-content span {
  color: var(--yellow);
}


.about-me-right-section {
  padding-left: 36px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  flex: 1;
}