:root {
  --dark-blue: #13334c;
  --blue: #005792;
  --beige: #f6f6e9;
  --orange: #fd5f00;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
  background-color: var(--beige);
  color: var(--dark-blue);
}