:root {
  --dark-blue: #0c1723;
  --blue: #005792;
  --beige: #f6f6f6;
  --orange: #ff8561;
  --yellow: #fff49e;

  --gray: #666;
  --light-gray: #888;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
  background-color: var(--beige);
  color: var(--dark-blue);
}

li {
  list-style: none;
}