@media (max-width: 999px) {
  .home-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }


  .home-left-section {
    max-width: 320px;
    padding-right: 44px;
    padding-bottom: 96px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    flex: 1;
  }

  .home-name {
    margin: 0;
    white-space: nowrap;
  
    font-size: 24px;
    font-weight: 900;
    text-align: right;
  }

  .home-name span {
    font-size: 16px;
    font-weight: 700;
  }

  .home-title {
    color: var(--blue);
    margin: -1px;
  
    font-size: 12px;
    font-weight: 400;
  }

  .home-hi {
    margin-top: 12px;
    margin-bottom: 0;
  
    font-size: 30px;
    font-weight: 500;
    text-align: right;
  }

  .home-description {
    margin-top: 0;
    padding-left: 36px;
  
    font-size: 14px;
    font-weight: 500;
    text-align: right;
  }


  .home-right-section {
    padding-top: 72px;

    flex: 1;
  }

  .home-image {
    max-height: 320px;
  }
}

@media (min-width: 1000px) {
  .home-section {
    display: flex;
    align-items: center;
  }


  .home-left-section {
    padding: 0px 36px 0px 64px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    flex: 1;
  }

  .home-name {
    margin: 0;
    white-space: nowrap;
  
    font-size: 36px;
    font-weight: 900;
    text-align: right;
  }

  .home-name span {
    font-size: 24px;
    font-weight: 700;
  }

  .home-title {
    color: var(--blue);
    margin: -1px;
  
    font-size: 14px;
    font-weight: 400;
  }

  .home-hi {
    margin-top: 18px;
    margin-bottom: 0;
  
    font-size: 36px;
    font-weight: 500;
    text-align: right;
  }

  .home-description {
    margin-top: 0;
    padding-left: 36px;
    max-width: 390px;
  
    font-size: 16px;
    font-weight: 500;
    text-align: right;
  }


  .home-right-section {
    padding: 0px 64px 0px 36px;
  
    display: flex;
    justify-content: left;
  
    flex: 1;
  }

  .home-image {
    max-height: 440px;
  }
}

.home-section {
  background-color: var(--beige);
  color: var(--dark-blue);
  min-height: calc(100vh - 82px);
  padding-top: 82px;
}

.home-image {
  border-radius: 50%;
}
