@media (max-width: 999px) {
  .home-section {
    flex-direction: column-reverse;
  }


  .home-left-section {
    max-width: 320px;
    margin-right: 44px;
  }

  .home-name {
    font-size: 28px;
  }

  .home-name span {
    font-size: 18px;
  }

  .home-title {
    font-size: 12px;
  }

  .home-hi {
    margin-top: 14px;

    font-size: 30px;
  }

  .home-description {
    font-size: 14px;
  }


  .home-right-section {
    margin-bottom: 36px;

    align-items: end;
  }

  .home-image {
    max-height: 320px;
  }
}

@media (min-width: 1000px) and (max-width: 1999px) {
  .home-left-section {
    margin: 0px 36px 0px 64px;
  }

  .home-name {
    font-size: 36px;
  }

  .home-name span {
    font-size: 24px;
  }

  .home-title {
    font-size: 14px;
  }

  .home-hi {
    margin-top: 18px;
  
    font-size: 36px;
  }

  .home-description {
    max-width: 390px;
  
    font-size: 16px;
  }


  .home-right-section {
    margin: 0px 64px 0px 36px;
  
    justify-content: left;
  }

  .home-image {
    max-height: 440px;
  }
}

@media (min-width: 2000px) {
  .home-left-section {
    margin: 0px 36px 0px 64px;
  }

  .home-name {
    font-size: 44px;
  }

  .home-name span {
    font-size: 30px;
  }

  .home-title {
    font-size: 16px;
  }

  .home-hi {
    margin-top: 18px;
  
    font-size: 40px;
  }

  .home-description {
    max-width: 440px;
  
    font-size: 18px;
  }


  .home-right-section {
    margin: 0px 64px 0px 36px;
  
    justify-content: left;
  }

  .home-image {
    max-height: 540px;
  }
}

.home-section {
  background-color: var(--beige);
  color: var(--dark-blue);
  padding-top: 82px;
  min-height: calc(100vh - 82px);

  display: flex;
  align-items: center;
}


.home-left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  flex: 1;
}

.home-name {
  margin: 0;
  white-space: nowrap;

  font-weight: 900;
  text-align: right;
}

.home-name span {
  font-weight: 700;
}

.home-title {
  color: var(--blue);
  margin: -1px;

  font-weight: 400;
}

.home-hi {
  color: var(--orange);
  margin-bottom: 0;

  font-weight: 900;
  text-align: right;
}

.home-description {
  margin-top: 0;
  padding-left: 36px;

  font-weight: 500;
  text-align: right;
}


.home-right-section {
  display: flex;

  flex: 1;
}

.home-image {
  border-radius: 50%;
}
